/* clients */

.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: calc(-1 * var(--cards-gap-porfolio));
  margin-top: calc(-1 * var(--cards-gap-porfolio));
}

.clients-list__box {
  flex-basis: calc(100% / 2 - var(--cards-gap-porfolio));
  margin-left: var(--cards-gap-porfolio);
  margin-top: var(--cards-gap-porfolio);

  @media (min-width: $tablet) {
    flex-basis: calc(100% / 3 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);
  }

  @media (min-width: $desktop) {
    flex-basis: calc(100% / 6 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);
  }

  //   &:not(:last-child) {
  //     margin-right: 30px;

  //     @media (min-width: $tablet) {
  //       margin-right: 0;
  //     }
  //   }
}

.clients-list__link {
  fill: var(--logo-grey-color);

  //   width: 170px;
  //   width: 226px;
  //   width: 210px;
  height: 90px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms var(--anim-func), border 250ms var(--anim-func);

  &:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }

  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
    outline: none;
  }
}
