/* fatyres */

.fatyres {
  padding-top: 60px;

  @media (min-width: $tablet) {
    padding-top: 92px;
  }
}

.fatyres__list {
  //   display: flex;
  align-items: center;
}

.fatyres__item {
  height: auto;
  //   margin-right: 30px;

  //   &:last-child {
  //     margin-right: 0;
  // }
  @media (min-width: $tablet) {
    height: auto;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.fatyres__box-icon {
  max-width: 450px;
  max-height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-color);

  margin-bottom: 30px;

  @media (min-width: $tablet) {
    width: 270px;
    height: 120px;
  }
}

.fatures__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.fatures__text {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
