/* fatyres */

.fatyres {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.fatyres__list {
  align-items: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: calc(-1 * var(--cards-gap-porfolio));
    margin-top: calc(-1 * var(--cards-gap-porfolio));
  }
}

.fatyres__item {
  height: auto;

  @media (max-width: 779px) {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    flex-basis: calc(100% / 2 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);

    .fatures__subtitle {
      text-align: left;
    }
  }
  @media (min-width: $desktop) {
    flex-basis: calc(100% / 4 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);
  }
}

.fatyres__box-icon {
  max-width: 100%;
  // max-height: 120px;

  padding: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-color);

  margin-bottom: 30px;

  @media (min-width: $tablet) {
    // width: 270px;
    height: auto;
  }
}

.fatures__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  text-align: center;
}

.fatures__text {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
