/* fatyres */

.fatyres {
  padding-top: 92px;
}

.fatyres__list {
  display: flex;
}

.fatyres__item {
  height: auto;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.fatyres__box-icon {
  width: 270px;
  height: 120px;

  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--section-bg-color);
}

.fatures__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.fatures__text {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}