/* geroy */

.geroy {
  background-color: var(--footergeroy-bg-color);

  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.geroy__overlay {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.5),
      rgba(47, 48, 58, 0.5)
    ),
    url('../img/svg_dz-4/geroy-Img-m.jpg');

  height: 600px;
  max-width: 1600px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.geroy__content {
  padding-top: 200px;
  padding-bottom: 200px;
}

.geroy__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;

  letter-spacing: 0.06em;
  color: var(--white-text-color);

  margin-bottom: 30px;
}

.geroy__button {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;

  transition: color 250ms var(--anim-func), background-color 250ms var(--anim-func);

  &:hover,
  &:focus {
    background-color: var(--white-text-color);
    color: var(--accent-color);
  }
}
