/* team */

.team {
  background-color: var(--section-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--cards-gap-porfolio));
    margin-top: calc(-1 * var(--cards-gap-porfolio));
  }
}

.team-list__item {
  text-align: center;

  background-color: var(--white-text-color);
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-bottom: 30px;
    @media (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet) {
    flex-basis: calc(100% / 2 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);
  }

  @media (min-width: $desktop) {
    flex-basis: calc(100% / 4 - var(--cards-gap-porfolio));
    margin-left: var(--cards-gap-porfolio);
    margin-top: var(--cards-gap-porfolio);
  }
}

.team-list__thumb {
  max-width: 450px;
  @media (min-width: $tablet) {
    max-width: 354px;
  }

  @media (min-width: $desktop) {
    max-width: 270px;
  }
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 24px;

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team-list__name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-list__profession {
  color: var(--grey-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
