/* team */

.team {
  background-color: var(--section-bg-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}


.team-list__item {
  text-align: center;
  
  background-color: var(--white-text-color);
  border-radius: 4px;
  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-list__profession {
  color: var(--grey-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}