/* cards-list */

.cards-list__container {
  margin-top: 50px;
  padding-bottom: 94px;
}

.cards-list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--cards-gap-porfolio));
  margin-top: calc(-1 * var(--cards-gap-porfolio));
}

.cards-list__item {
  flex-basis: calc(100% / 3 - var(--cards-gap-porfolio));
  margin-left: var(--cards-gap-porfolio);
  margin-top: var(--cards-gap-porfolio);
  outline: var(--cards-border-portfolio);
}

.cards-list__link {
  display: block;
  transition: box-shadow 250ms var(--anim-func);

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}


.cards-list__overlay-box {
  position: relative;

  overflow: hidden;
}

.cards-list__overlay-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  // height: 100%;
  padding: 63px 24px;

  background: var(--hover-overlay);

  transform: translateY(100%);
  transition: transform var(--time-anim-func);
}

.cards-list__overlay-content {
  text-decoration: none;
  color: var(--white-text-color);

  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.cards-list__item:hover .cards-list__overlay-item {
  transform: translateY(0);
}

.cards-list__img {
  display: block;
  width: 100%;
}

.cards-list__content {
  padding: 20px 24px;
}

.cards-list__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.cards-list__text {
  color: var(--grey-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}