/* .consent {} */

.consent__label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.consent__checkbox {
  appearance: none;
  position: absolute;

  -moz-appearance: none;
  -webkit-appearance: none;
}

.consent__icon {
  transition: background-color 250ms var(--anim-func),
    fill 250ms var(--anim-func);
}

.consent__checkbox:checked + .consent__icon {
  background-image: url(../img/modal/icon-check.svg);
  background-color: var(--accent-color);
  background-size: contain;
  fill: var(--accent-color);
  background-origin: border-box;
  border-radius: 4px;
}

.consent__text {
  color: var(--grey-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  margin-left: 7px;
}

.consent__link {
  color: var(--accent-color);
  text-decoration: underline;
}