.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: var(--white-text-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 5;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-toggle-close {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-bottom {
  position: absolute;
  bottom: 0;
  padding-bottom: 48px;
  padding-left: 25px;
}

.menu-container .menu-toggle-close {
  position: absolute;
  top: 20px;
  right: 15px;
  color: var(--white-text-color);
}

.nav.menu--visible,
.contact.menu--visible {
  // display: flex;
  // flex-direction: column;
  display: block;
  // padding-bottom: 10px;
}

.nav.menu--visible {
  padding-top: 33px;
  padding-left: 25px;
}

.nav__item.menu--visible {
  margin-bottom: 32px;
  padding-right: 0;
}

.nav__link.menu--visible {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
}
// contact

.contact.menu--visible {
  // padding-left: 10px;
}

.contact__item.menu--visible {
  display: block;
  margin-bottom: 32px;
}

.contact__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  @media (max-width: 410px) {
    font-size: 30px;
  }
}

.contact__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--grey-text-color);
}

// .menu-social

.menu-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.menu-social_item:not(:last-child) {
  display: inline-block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  fill: var(--border-input-mod);
  margin-right: 10px;
  padding-right: 10px;
}

.menu-social_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;

  color: var(--accent-color);

  @media (max-width: 410px) {
    font-size: 15px;
  }
}
