/* modals */

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--modal-backdrop);

  opacity: 1;
  transition: opacity 250ms var(--anim-func);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
}

.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  padding: 40px;

  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: opacity 250ms var(--anim-func), transform 250ms var(--anim-func);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}