/* header */

.header-sticky {
  border-bottom: var(--header-border-bottom);
  position: sticky;
  z-index: 2;
  top: -1px;
  background-color: var(--white-text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media (min-width: $tablet) {
    max-width: 768px;
    height: 80px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.heder-menu {
  margin-left: auto;
  fill: var(--logo-text-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media (min-width: $tablet) {
    display: none;
  }
}
