/* header */

.header-sticky {
  border-bottom: var(--header-border-bottom);
  position: sticky;
  z-index: 2;
  top: -1px;
  background-color: var(--white-text-color);

  @media (min-width: 768px) {
    padding-right: 15px;
  }

  @media (min-width: 1200px) {
    padding-right: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // height: 80px;
  height: 60px;

  @media (min-width: 768px) {
    height: 80px;
  }

  @media (min-width: 1200px) {
  }
}
