.logo-accent--header {
  @media (min-width: 768px) {
    // padding-right: 88px;
  }
  @media (min-width: $desktop) {
    padding-right: 0;
  }
}

.logo-accent {
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);

  @media (min-width: 768px) {
  }
  @media (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo-dark {
  color: var(--title-text-color);
}

// logo-footer

.logo-accent-footer {
  display: inline-block;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  margin-bottom: 20px;

  @media (min-width: $desktop) {
    font-size: 26px;
  }
}

.logo-white {
  color: var(--white-text-color);
}
